<div class="header">
    <span class="mr-auto"><b>noCnX Technologies</b></span>
    <button mat-button><li style="list-style-type: none;"><a style="text-decoration: none; color: black;" routerLink="">Companies</a></li></button>
    <button mat-button>Contacts</button>
    <button mat-button><li style="list-style-type: none;"><a style="text-decoration: none; color: black;" routerLink="/quotation">Quotations</a></li></button>
    <button mat-button><li style="list-style-type: none;"><a style="text-decoration: none; color: black;" routerLink="/projects">Projects</a></li></button>
    <button mat-button><li style="list-style-type: none;"><a style="text-decoration: none; color: black;" routerLink="/purchase-order">Purchase Order</a></li></button>
    <mat-icon class="user-icon ml-auto">account_circle</mat-icon>
    <span>user</span>
</div>