.mat-dialog-content {
    padding: 10px !important;
}

.container {
    padding: 32px;
}

.download-btn {
    padding: 8px;
    width: 40%;
    margin: 16px 4px 16px 4px;
}

.font-black-bold{
    color: black;
    font-weight: bolder;
}


.italic-text{
    font-size: 18px;
    font-style: italic;
    color: #299083;
  }
  
  .fw-500{
    font-weight: 500;
  }
  
  .mb-2{
    margin-bottom: 2px;
  }
  
  ol>li{ 
    list-style-position: inside;
    padding: 4px 0px;
  }

  .crm-bg-img{
    background-image: url('../../assets/images/new-quotation-bg-img.png');
    background-size: cover;
  }

  .quo-page-size{
    width: 595pt;
    height: 842pt;
  }

  .p-rel{
    position: relative;
  }

  .quo-page-padding{
    padding: 20px 30px;
  }

  .quo-page-mar{
    margin-bottom: 20px;
  }

  .border-1px{
    border: 1px solid black;
  }

  .d-flex{
    display: flex;
  }
  
  .flex-col{
    flex-direction: column;
  }

  .border-box{
    box-sizing: border-box;
  }